---
import type { TimelineWidgetType } from '@checkpoint/shared-types';

interface Props {
  data: TimelineWidgetType;
}

const { data } = Astro.props as Props;
---

<section class="flex flex-col gap-16">
  <div class="flex gap-16 items-center">
    <h2>{data.title}</h2>
    <p class="w-2/5 text-balance">{data.subtitle}</p>
  </div>
  <div
    class="flex flex-col gap-14"
    style={data.background_image
      ? {
          backgroundImage: `url('${import.meta.env.PUBLIC_DIRECTUS_URL}/assets/${data.background_image.filename_disk}')`,
          backgroundSize: '100% auto', // Ocupa todo el ancho, altura automática
          backgroundRepeat: 'repeat-y', // Solo se repite en el eje Y
          backgroundPosition: 'center top', // Centrado horizontalmente, empieza desde arriba
        }
      : {}}
  >
    {
      data.items.map((item, index) => (
        <div class={`flex gap-12 ${index % 2 === 0 ? 'justify-start' : 'justify-end'}`}>
          {item.timeline_items_id.year ? (
            <span class="text-4xl font-semibold mt-5">{item.timeline_items_id.year}</span>
          ) : null}
          <div class="flex bg-primary text-primary-content w-3/5 rounded-box px-10 py-8 min-h-56 gap-8">
            <div class="bg-secondary size-6 mt-1 rounded-full shrink-0"></div>
            <div class=" gap-6 flex flex-col">
              {item.timeline_items_id.title ? (
                <span class="text-2xl font-medium">{item.timeline_items_id.title}</span>
              ) : null}
              {item.timeline_items_id.subtitle ? (
                <p class="text-balance">{item.timeline_items_id.subtitle}</p>
              ) : null}
            </div>
          </div>
        </div>
      ))
    }
  </div>
</section>
