---
// TODO: use @checkpoint/directus

import '../globals.css|';
import { getCachedSiteInfo } from '../api/siteInfo';

const pageInfo = await getCachedSiteInfo(import.meta.env.PUBLIC_ORGANIZATION_ID)
const { title } = Astro.props;
const faviconUrl = pageInfo.favicon?.filename_disk
	? `${import.meta.env.PUBLIC_DIRECTUS_URL}/assets/${pageInfo.favicon.filename_disk}`
	: '/default-favicon.svg';
---

<!doctype html>
<html lang="es" data-theme="default-theme">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href={faviconUrl} />
		<meta name="generator" content={Astro.generator} />
		<title>
			{title ? `${title} - ${pageInfo.site_title}` : pageInfo.site_title}
		</title>
	</head>
	<body class="relative">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
